{% extends "base.html" %}
{% block title %}Log in · OYB Control{% endblock %}
{% block body %}
<form class="card narrow login" method="post" action="/login">
  <img class="login-mark" src="/static/oyb-mark.svg" alt="">
  <h1>O.Y.B Control</h1>
  <p class="kicker">Admin access only</p>
  {% if error %}<div class="flash error">{{ error }}</div>{% endif %}
  <label>Username <input name="username" autocomplete="username" autofocus required></label>
  <label>Password <input name="password" type="password" autocomplete="current-password" required></label>
  <button>Log in</button>
</form>
{% endblock %}
